<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Temporarily_Save_Text_DataList2.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Temporarily_Save_Text_DataList2.Properties.Settings>
            <setting name="DBPath設定" serializeAs="String">
                <value />
            </setting>
            <setting name="リスト選択" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="DBListNum" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="TBListNum" serializeAs="String">
                <value>-1</value>
            </setting>
        </Temporarily_Save_Text_DataList2.Properties.Settings>
    </userSettings>
</configuration>